body{
    display: flex;
    background-color: rgba(0, 0, 0, 0.87);
    align-items: center;
    text-align: center;
    justify-content: center;
    bottom: 50%;
    right: 50%;
    transform: translate(50%,50%);
    font-family: cursive;
    position: absolute;
    font-size: larger;
    font:bolder;
}

.calculator{
    width: 350px;
    height: auto;
    padding: 20px;
    border: 10px solid white;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    box-shadow:  
        0 0 10px rgba(255, 255, 255, 0.5), /* Top white shadow */
        0 0 20px rgba(255, 255, 255, 0.4), /* Inner white shadow */
        0 0 30px rgba(255, 255, 255, 0.2), /* Outer white shadow */
        0 0 40px rgba(0, 0, 0, 0.6);
    background-blend-mode: lighten;
    background-color: lightgray;
}

.buttons{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

button{
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    border-color: black;
}

#display{
    width:326px;
    padding: 8px;
    margin-bottom: 10px;
    text-align: right;
    border-color: black;
}